@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color: #383838;
  color: #fff;
  font-family: Roboto, 'serif';
  height: 100vh;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.btn {
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  transition: box-shadow 200ms ease-out;
}

.btn:hover {
  background-color: #e2e2e2;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 6px 1px #ffffff88;
}
