@import url('../styles/base.css');
@import url('../styles/layout.css');
@import url('../styles/text.css');
@import url('../styles/components/button.css');


#mocha {
  margin: 0 30px 25px 30px;
}

ul#mocha-stats {
  position: static;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 4px;
}

#mocha-stats li {
  padding: 0;
}

#mocha-stats li em {
  font-style: normal;
}

#mocha-stats .duration em {
  color: purple;
}

#mocha-stats .progress {
  display: flex;
}

#mocha-stats .failures em {
  color: red;
}

#mocha-stats .passes em {
  color: green;
}

body {
  color: var(--primary-color);
}