.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container {
  border-radius: 4px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-primary {
  background-color: var(--secondary-color);
}